/* 공통 */
body {font-family: 'Rajdhani'; font-size: 16px;}
#wrap {width: 100%;}
a {font-family: inherit; text-decoration: none !important;}
.hidden {height: 0; line-height: 0; font-size: 0; text-indent: -9999px;}
::selection {color: #fff; background: #f05053;}

/* 메인 컨텐츠 영역 */
#main {min-height: 100%; margin: 70px 0 0 240px; padding: 30px; transition: margin-left 0.3s;}
#main.on {margin-left: 60px;}
/* 메인 공통 */
section.layout-wrap, section.layout, section.layout-box {overflow: hidden;}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    #main {margin: 70px 0 0 60px;}
    #main.on {margin-left: 240px;}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #main {margin: 70px 0 0 0;}
    #main.on {margin-left: 0;}
}

/* ipad 이하 폰 사이즈 */
@media screen and (max-width: 767px) {
    /* main */
    #main {margin: 50px 0 0 0;}
}